@import "../../../../scss/settings";

.#{$prefix-llu}image_form {
  background-image: url('http://lluqi.com/images/IMAGEN%20PARA%20REGISTRO%20VIAJERO.jpg');
  background-color: $primary;
  background-size: cover;
  height: 100vh;
  position: fixed;
  width: 40%;
  div{
    margin-top: 7px;
  }
  a{
    font-size: 20px;
    color: #FFFFFF !important;
    text-align: right;
  }
}