@import "../../../../scss/settings";

.#{$prefix-llu}terms {
  background: white;
  padding: 20px 100px 20px 100px;
  font-size: 14px;
  @media (max-width: 600px) {
    padding: 10px 20px;
    text-align: center;
  }
}

.#{$prefix-llu}social_footer {
  .fa {
    margin-left: 20px;
  }
}