@import "../../../../scss/settings";

.#{$prefix-llu}terms {
  background: white;
  padding: 20px 100px 20px 100px;
  font-size: 14px;
}

.#{$prefix-llu}social_footer {
  .fa {
    margin-left: 20px;
  }
}