.col-6 {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.input-group-prepend {
  color: #ffb400;
  font-size: 24px;
  margin-right: 15px !important; }

.input-group {
  width: 80% !important; }

.input-group-append {
  font-weight: bold;
  color: #ffb400;
  font-size: 24px; }

.llu-gradient {
  background: linear-gradient(rgba(0, 0, 0, 0.22), rgba(255, 255, 255, 0));
  height: 15px; }

.llu-header_form {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 70px;
  padding-right: 70px; }
  .llu-header_form h2 {
    margin-top: 5px;
    font-weight: unset; }
  .llu-header_form p {
    margin: auto;
    width: 70%;
    font-size: 12px; }

.llu-body_form {
  font-size: 12px !important; }
  .llu-body_form label {
    padding-left: 120px;
    padding-top: 10px;
    margin-bottom: 0;
    font-weight: 900; }
  .llu-body_form .llu-input_form {
    padding-left: 10px;
    border: 1px solid #ffb400;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 80%;
    height: 25px; }

.llu-span_form_right {
  text-align: right;
  padding-right: 105px;
  display: block;
  width: 100%;
  font-size: 11px;
  margin-top: -8px;
  font-weight: 900; }

.llu-main_header {
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
  background: #fbf9f9;
  z-index: 100;
  font-size: 14px;
  color: #575756 !important; }
  .llu-main_header .container-header {
    padding-right: 80px;
    padding-left: 80px;
    margin-right: auto;
    margin-left: auto; }
  .llu-main_header nav {
    margin: auto;
    width: 50%; }
    .llu-main_header nav ul li {
      display: inline-block;
      float: left;
      margin-left: 60px; }
  .llu-main_header ul li :hover {
    color: #ff9950 !important;
    cursor: pointer; }
  .llu-main_header .enfasis {
    color: #ffb400 !important; }
  .llu-main_header .llu-logo {
    display: block;
    float: left;
    padding: 24px 0 0 40px; }
  .llu-main_header .icon {
    vertical-align: middle;
    position: relative;
    margin-right: 25px;
    font-size: 1.2rem; }
  .llu-main_header .llu-social {
    text-align: right;
    margin-right: 50px; }
