body{
  -webkit-font-smoothing: antialiased;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: text;
  @include transition(all .4s ease);
}
.#{$prefix}main{
  @include modify(home){
    margin-top: 162px;
  };
  @include modify(product){
    margin-top: 68px;
  };
}
//disabled body scroll with modal
.fix-scroll {
  @extend %fix-scroll;
}
.container-off{
  @extend %marginZero;
}
input.form-control{
  &:focus{
    border-color:$giwer-red;
  }
}
ul {
  li{
    list-style-type: none;
  }
}
