@import "../../../../scss/settings";

.#{$prefix-llu}access_profile {
  margin-top: -24px;
  img{
    width:40px;
    border-radius: 20px;
    height:40px;
    float: left;
  }
  figcaption{
    margin-left: 5px;
    float: right;
  }
  &:hover .#{$prefix-llu}access_profile_menu {
    display: block;
  }
}

.#{$prefix-llu}access_profile_menu {
  display: none;
  margin-top: 40px;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
}