.get-started{
  ul{
    li{
      margin:10px 0;
      p {
        font-size: 14px;
      }
      code{
        border-radius: 5px;
        background-color: lighten(grey, 45%);
        padding:10px;
        display: inline-block;
        margin-top: 10px;
      }
    }
  }
}
