@import "../../../../scss/settings";

.#{$prefix-llu}offer {
  padding: 50px;
  background: white;
  h2{
    font-family: $font-family-sec;
    padding-bottom: 30px;
  }
  .d-flex{
    justify-content: center;
    align-items: center;
  }
}