.col-6 {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.input-group-prepend {
  color: #ffb400;
  font-size: 24px;
  margin-right: 15px !important; }

.input-group {
  width: 80% !important; }

.input-group-append {
  font-weight: bold;
  color: #ffb400;
  font-size: 24px; }

.llu-gradient {
  background: linear-gradient(rgba(0, 0, 0, 0.22), rgba(255, 255, 255, 0));
  height: 15px; }

.llu-header_form {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 70px;
  padding-right: 70px; }
  .llu-header_form h2 {
    margin-top: 5px;
    font-weight: unset; }
  .llu-header_form p {
    margin: auto;
    width: 70%;
    font-size: 12px; }

.llu-body_form {
  font-size: 12px !important; }
  .llu-body_form label {
    padding-left: 120px;
    padding-top: 10px;
    margin-bottom: 0;
    font-weight: 900; }
  .llu-body_form .llu-input_form {
    padding-left: 10px;
    border: 1px solid #ffb400;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 80%;
    height: 25px; }

.llu-span_form_right {
  text-align: right;
  padding-right: 105px;
  display: block;
  width: 100%;
  font-size: 11px;
  margin-top: -8px;
  font-weight: 900; }

.color-primary {
  color: #ffb400; }

.llu-testimonies {
  background-image: url("../../../../assets/images/DESKTOP_testimonio_fondo.png");
  height: 500px;
  margin-top: 60px;
  color: white;
  text-align: center; }
  .llu-testimonies p {
    padding-top: 26px;
    width: 50%;
    margin: auto;
    font-style: italic; }
  .llu-testimonies h5 {
    padding-top: 20px; }
  .llu-testimonies .slick-slide img {
    height: 142px;
    width: 142px;
    border-radius: 71px 71px 71px 71px;
    display: block;
    margin: auto; }
  .llu-testimonies .slick-dots {
    margin-left: 0 !important;
    bottom: -20% !important; }
  .llu-testimonies .slick-dots li button {
    height: 12px !important;
    width: 12px !important;
    background-color: transparent;
    border: 2px solid white !important;
    opacity: 1 !important; }
  .llu-testimonies .slick-arrow {
    background-color: white; }
  .llu-testimonies .slick-arrow:hover {
    background-color: #ffa009; }
  .llu-testimonies .slick-active button {
    background-color: white !important;
    opacity: 1 !important; }
  .llu-testimonies .slick-prev {
    top: 72%;
    z-index: 50;
    left: 185px !important;
    position: absolute;
    display: block;
    padding: 0;
    font-size: 0;
    line-height: 0;
    width: 46px;
    height: 46px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: 0;
    background: #ffb400;
    border-radius: 5px; }
  .llu-testimonies .slick-next {
    top: 72%;
    z-index: 50;
    right: 185px !important;
    position: absolute;
    display: block;
    padding: 0;
    font-size: 0;
    line-height: 0;
    width: 46px;
    height: 46px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: 0;
    background: #ffb400;
    border-radius: 5px; }

.llu-slider {
  padding-top: 70px; }
